<app-page-header headerText="Contact"></app-page-header> 

<div class="container">
  <div class="row">
    <app-contact-form class="col-md-6"></app-contact-form>
    <app-contact-info class="col-md-6"></app-contact-info>
  </div>
</div>

<ngui-map center="Christchurch, New Zealand" zoom="13"></ngui-map>