span{
    font-size: 30px;
    padding-right: 20px;
    cursor: pointer;
}

.fa-facebook-square, .fa-facebook{
    color: #4267b2;
}

.fa-bitbucket{
    color: #0747a6;
}

.fa-linkedin {
    color: #283e4a;
}