<app-resume-section>
    <app-resume-section-header>About Me</app-resume-section-header>
    <app-resume-section-blurb>Hi, I’m Michael, a Computer Science graduate of the University of Canterbury. I am looking for full-time employment at an interesting and innovative company within New Zealand. Feel free to take a look around, and if you like what you see, please don’t hesitate to <a class="link" routerLink="/contact">get in touch.</a></app-resume-section-blurb>
</app-resume-section>