<div class="cta-section">
    <h2>Interested in finding out more?</h2>
    <div class="cta-buttons">
        <app-btn-large route="/resume" class="left" dark="true">Resume</app-btn-large>
        <app-btn-large route="/contact" class="right" dark="true">Contact</app-btn-large>
    </div>
</div>
