.cta-buttons{
    width: 400px;
    margin: 40px auto;
    color: white;
}

.cta-section{
    padding-top: 90px;
}

@media only screen and (max-width: 420px) {
    .cta-section {
        visibility: hidden;
        padding: 0;
        margin: 0;
    }
}