h1{
    font-weight: 900;
    font-size: 40px;
}

p{
    color: rgba(0, 0, 0, 0.7);
    font-weight: 400;
    padding-top: 10px;
    line-height: 35px;
    font-size: 17px;
    font-family: 'Work Sans', sans-serif;
}

.container{
    padding-top: 40px;
    padding-bottom: 30px;
}

.imgv{
    width: 100%;
    height: 450px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 3px 70px rgba(50, 50, 50, 0.5);   
}

.imgvf{
    width: 100%;
    height: 450px;
    overflow: hidden;
    box-shadow: 0 3px 70px rgba(50, 50, 50, 0.5);   
}

.yt-container{
    width: 100%;
}

.yt-container iframe{
    height: 480px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 3px 70px rgba(50, 50, 50, 0.5);   
}

.download-section{
    width: 100%;
    background-color: rgba(50, 50, 50, 0.05);
    min-height: 400px;
    margin-top: 90px;
}

.dl-header h1 {
    width: 100%;
    text-align: center;
    margin-top: 20px;;
    margin-bottom: 50px;
}

.cta-button-container{
    width: 500px;
    margin: auto;
}

.dl-link{
    text-align: center;
}

a {
    width: 100%;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: rgba(50, 50, 50, 1);
}

a:hover {
    color: rgba(50, 50, 50, 0.8);
}


a i{
    font-size: 90px;
    text-align: center;
    word-break:break-all;
}

.link-text{
    margin-top: 10px;
}