footer{
    background-color: #242424;
    color: rgb(187, 187, 187);
}

p, h6{
    color: rgb(187, 187, 187);
    font-family: 'Work Sans', sans-serif;
}

a{
    text-decoration: none;
    color: rgb(187, 187, 187);
}

a:visited, a:active {
    color: rgb(187, 187, 187);
}