<app-page-header headerText="Michael Rausch"></app-page-header>

<app-resume-about></app-resume-about>
<app-resume-education></app-resume-education>
<app-resume-skills></app-resume-skills>
<app-resume-featured-projects></app-resume-featured-projects>
<app-resume-cta></app-resume-cta>

<div class="bottom-pad"></div>
