.modal-download-section{
    width: 100%;
    background-color: rgba(50, 50, 50, 0.1);
    min-height: 200px;
    margin-top: 40px;
    padding-top: 50px;
}

.dl-header h1 {
    width: 100%;
    text-align: center;
    margin-top: 20px;;
    margin-bottom: 50px;
}

.cta-button-container{
    width: 500px;
    margin: auto;
}

.dl-link{
    text-align: center;
}

a {
    width: 100%;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: rgba(50, 50, 50, 1);
}

a:hover {
    color: rgba(50, 50, 50, 0.8);
}

a i{
    font-size: 50px;
    text-align: center;
    word-break:break-all;
}

.link-text{
    margin-top: 10px;
}



h1{ 
    font-family: 'Work Sans', sans-serif;
    font-weight: 900; 
    color: rgba(20, 20, 20, 1);;
    font-size: 45px;
    padding-left: 15px;
}

