table td{
    padding-right: 75px;
}

table {
    font-family: 'Work Sans',  sans-serif;    
}

table tr th{
    font-weight: 700;
    color: #242424;
}

table tr td{
    font-weight: 400;
    color: #242424;    
    padding-top: 5px;
}