p{
    width: 800px;
    text-align: center;
    margin: 0 auto 0 auto;

    font-family: 'Work Sans',  sans-serif;
    color: #6b7c93;
    font-weight: 500;
    font-size: 17px;
    line-height: 35px;

    margin-bottom: 100px;    
}

@media only screen and (max-width: 850px) {
    p {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
}