label{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600; 
    font-size: 14px;
    margin-bottom: 2px;
}

input, textarea{
    background-color: #f2f4f4;
    border: none;
    box-shadow: inset 0 1px 5px rgba(50, 50, 50, 0.1);
    transition: box-shadow .3s, background-color .3s;    
}

input:focus, textarea:focus{
    background-color: #f2f4f4;
    border: none;
    box-shadow: inset 0 3px 5px rgba(50, 50, 50, 0.1);
}


