<app-resume-section>
    <h3>Interested in finding out more?</h3>

    <div class="cta-buttons">
      <app-btn-large class="left" dark="true" (click)="openBitbucket()">Bitbucket</app-btn-large>
      <app-btn-large class="right" dark="true" (click)="downloadCv()">Download CV</app-btn-large>
    </div>

</app-resume-section>