<h3>Contact Info</h3>

<app-contact-item icon="fa-envelope">me@michaelrausch.nz</app-contact-item>

<app-contact-item icon="fa-phone">(+64) 27-952-9554</app-contact-item>

<app-contact-item icon="fa-truck">
    <div>Michael Rausch NZ4170402</div>
    <div>Christchurch CourierPost Depot</div>
    <div>17 Syd Bradley Road, Yaldhurst</div>
    <div>Christchurch 8042</div>
</app-contact-item>

<app-contact-item icon="fa-angle-double-right">
    <app-social-icon icon="fa-bitbucket" href="{{ bitbucketUrl }}"></app-social-icon>
    <app-social-icon icon="fa-linkedin" href="{{ linkedinUrl }}"></app-social-icon>
</app-contact-item>

