a {
    color: white !important;
    width: 170px;
    height: 55px;

    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;

    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 42px;
    padding-right: 42px;

    border: 4px solid white;

    transition: color .3s, background-color .3s;
    cursor: pointer;

}

a:hover{
    color: black !important;
    border-color: white;
    background-color: white;
    text-decoration: none;
}

.dark {
    color: #212529 !important;
    border-color: #212529;
    background-color: rgba(0,0,0,0);
}

.dark:hover{
    color: white !important;
    border-color: #212529;
    background-color: #212529;
    text-decoration: none;
}