.card-button{
    background-color: #fff;
    color: #2a4bfe !important;
    /* border-color: #2a4bfe; */
    font-family: 'Work Sans',  sans-serif;
    font-weight: 500;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.card-button:hover{
    background-color: #2a4bfe;
    color: #fff !important;
    /* border-color: #2a4bfe; */
    padding-left: 20px;
    padding-right: 20px;
}

.card-button:focus {
    background-color: #fff;
    box-shadow: 0px;
}

p{
    font-family: 'Work Sans',  sans-serif;
    color: #6b7c93;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
}

.project-card{
    border-radius: 10px;
    box-shadow: 0 3px 30px rgba(50, 50, 50, 0.2);   
        
}

.card-title{
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

h3{
    margin-bottom: 2px !important;
}

.badge{
    margin-bottom: 7px;
    text-transform: capitalize;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
}
