.jumbotron{
    height: 500px;
    /* background-color: rgb(97,101,249); */
    border-radius: 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    background: #396afc; 


    /* background: #396afc; 
    background: -webkit-linear-gradient(to right, #2948ff, #396afc);  
    background: linear-gradient(to right, #2948ff, #396afc);  */
    /* background: #00c6ff;
    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  
    background: linear-gradient(to right, #0072ff, #00c6ff); */
                                                                    
    /* background: url("https://dunedinstadium.files.wordpress.com/2015/09/nz-flag2-flagz-co-nz.jpg");
    background-size:     cover;       
    background-repeat:   no-repeat;
    background-position: center center;
    background-color: rgba(0,0,0,0); */
}

particles {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    width: 100%;
    height: 500px;
    background: #396afc; 
    background: -webkit-linear-gradient(to right, #2948ff, #537cf5);  
    background: linear-gradient(to right, #2948ff, #537cf5);     
}

.particles-container, .particles-container canvas {
    width: 100% !important;
    height: 500px !important;
}

.wrapper{
    position: relative;
    width: 100%;
    height: 500px;
}

h1{
    font-family: 'Work Sans', sans-serif;
    font-weight: 900; 
    color: white;
    font-size: 70px;
    width: 570px;
    text-align: center;
    margin: 50px auto 0 auto ;
}

.cta{
    height: 50px;
    width:400px;
    margin: 50px auto 0 auto;
}

.cta a{
    color: white;
    width: 170px;
    height: 55px;

    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;

    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    padding-top: 7px;

    border: 4px solid white;

    transition: color .3s, background-color .3s;
}

.cta a:hover{
    color: black;
    border-color: white;
    background-color: white;
    text-decoration: none;
}

@media only screen and (max-width: 630px) {
    h1 {
        overflow-wrap: break-word;
        width: 100%;
        text-align: center;
        margin-top: 90px;
    }

    .cta{
        width: 0;
        height: 0;
        visibility: hidden;
    }
}