<div class="jumbotron" id="jumbotron">
    <particles width="100" height="50" [params]="params"></particles>

  <h1>Michael Rausch</h1>

  <div class="cta">
      <app-btn-large route="/contact" class="left">Contact</app-btn-large>
      <app-btn-large route="/resume" class="right">Resume</app-btn-large>
  </div>
</div>

