<app-jumbotron></app-jumbotron>

<app-about-section></app-about-section>

<h2>What I've Been Working On</h2>

<div class="container">
    <app-current-projects></app-current-projects>     
</div>

<app-cta-section></app-cta-section>

<div class="bottom-pad"></div>

